@import url('https://fonts.googleapis.com/css2?family=Karla&family=Outfit:wght@100&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --light-cyan: hsl(179, 42%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --greyish-blue: hsl(218, 22%, 67%);
}

* {
    margin: 0; /* reset */
    padding: 0; /* reset */
    box-sizing: border-box; /* box-sizing rule */
}

body {
    min-height: 100vh;
    width: 100%;
    line-height: 1.4;
    font-family: 'Karla', sans-serif;
    font-size: 0.93rem;
    font-weight: 400;
    background-color: var(--light-gray);
}

main {
    display: grid;
    place-items: center;
}

.grid-container {
    max-width: 310px;
    min-height: 870px;
}

.community {
    background-color: white;
}

.community h1 {
    color: var(--cyan);
    font-size: 1.5rem;
    font-weight: 700;
}

.community h2 {
    color: var(--bright-yellow);
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.community p {
    color: var(--greyish-blue);
}

.subscription {
    background-color: var(--cyan);
}

.subscription h1 {
    font-size: 1.2rem;
    color: white;
}

figure {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 10px;
}

figcaption {
    color: var(--light-gray);
    padding-top: 10px;
}

span {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subscription p {
    color: var(--light-gray);
    margin-bottom: 20px;
}

button {
    background-color: var(--bright-yellow);
    border: none;
    border-radius: 5px;
    width: 280px;
    height: 40px;
    font-family: 'Karla', sans-serif;
}
.sign-up-btn a {
    color: white;
}
button:hover {
    background-color: dodgerblue;
}

.why-us {
    background-color: var(--light-cyan);
    color: var(--light-gray);
}

.why-us h1 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.attribution {
    text-align: center;
}
a {
    color: var(--cyan);
    text-decoration: none;
}

.logo {
    width: auto;
    max-height: 15px;
    margin-right: 4px;
}

@media only screen and (max-width: 375px) {

    main {
        height: 985px;
    }
    .community {
        padding: 30px 15px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }

    .subscription {
        padding: 30px 15px; 
    }

    .why-us {
        padding: 30px 15px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}
@media only screen and (min-width: 1440px) {

    main {
        height: 1250px;
    }

    .grid-container {
        display: grid;
        grid-template-columns:  350px 350px;
        grid-template-rows: 220px 250px;
        grid-auto-flow: row;
    }

    .item-1 {
        grid-column: 1 / span 2;
        grid-row: 1 / 1;
    } 
    .item-2 {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    .item-3 {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }

    .community {
        padding: 30px 25px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .subscription {
        padding: 30px 25px;
        border-bottom-left-radius: 15px;
    }

    .why-us {
        padding: 30px 25px;
        border-bottom-right-radius: 15px;
    }
}